/*
    REGLAS DE FUENTES
*/
@font-face {
    font-family: fuenteh1;
    src: url("fuentes/avenir-next-lt-pro-demi.ttf");
}
@font-face {
    font-family: fuenteh2;
    src: url("fuentes/avenir-next-lt-pro-light.ttf");
}
@font-face {
    font-family: fuenteh3;
    src: url("fuentes/arial-nova-cond.ttf");
}
@font-face {
    font-family: fuentelogo;
    src: url("fuentes/bauhaus-93.ttf");
}

/*
    MODIFICACIONES GENERALES
*/

body {
    color: #000000;
    background-color: #FFFFFF ;
    margin: 0px 0px 0px 0px;
}

h1 {
    font: bold 35px fuenteh1, arial;
}

h2 {
    font: bold 25px fuenteh2, arial;
}

h3{
    font: 19px fuenteh3, arial;
    text-indent: 50px;
    text-align: justify;
} 

h4{
    font: 10px arial;
    text-align: right;
    text-decoration: none;
}

/*
CABECERA DE LAS PAGINAS
*/

.cabecera {
    background-color: #ff8112;
    height: 130px;
}

.cabecera > .logo{
    position: absolute;
    left: 20px;
    top: 15px;

}

.cabecera > .iniciarSesion{
    position: absolute;
    right: 10px;
    top: 30px;

}

/*

    MENU DE CABECERA

*/

.menu{
   
    display: flex;
}

.menu > .menus{
    flex:1;
    background-color: #ff8112;
    text-transform: uppercase; 
    text-align:center;
    line-height: 32px;
    text-decoration: none;   
    padding: 5px;


}
.menu > a:hover{
    color:#ffffff;
    background-color: #00b0e0;
}



/*
    PIE DE PAGINA
*/

.piePagina{
    background-color: #ff8112;
    text-align: justify;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
}

.pieDePagina{
    text-indent: 0px;
}