
.infogeneral{
    text-align: center;
    padding-bottom: 20px;
    margin-top: 30px;
}

.informacion{
    display: flex;
}

.informacion > .info{
    flex:1;
    background-color: none; 
    text-align: center;
    line-height: 32px;
    padding: 5px;
}
