
/*
    CUERPO
*/
.cuerpo {

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30px 700px 30px;
    grid-gap: 10px;
}


/*
    Botones
*/
.pager {

    list-style: none;
    text-align: center;    
    position: relative;

}

.pager-item{

    display: contents;
}

.pager a{
    text-decoration: none;
}

/*

BUSCADOR
*/

.buscadordiv{

    grid-column: 1/3;
    top: 10px;
    position: relative;
    height: 30px;

}
.buscador{

    position: absolute;
    right: 30px;
    width: 150px;

}

/*
    NOTICIAS
*/

.noticias{

    grid-column: 1;
    grid-row: 2;
    grid-template-rows: 200px 200px 200px;
    margin-left: 5%;
    margin-right: 5%;
}


.notis{

    height: 200px;
    padding-bottom: 10px;

}


.notis img{

    float: left;
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-right: 4%;
    
}

.notis a{

    text-decoration: none;

}
.notis h4{

    text-align: right;

}

/*
    TRENDING
*/

.trending{

    grid-column: 2;
    grid-row: 2;
    grid-template-rows: 40px 150px 150px 150px;
    border-left: thin solid #00b0e0;
    padding-left: 3%;
    position: relative;
}

.trend{

    height: 150px;
    position: relative;
    margin-bottom: 4%;

}

.trend a{
    text-decoration: none;
}
.trend img{

    float: left;
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-right: 2%;

}
